<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PhilipsHueController.Properties.HueBridge" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="PhilipsHueController.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="PhilipsHueController.HueBridge" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.3" newVersion="4.1.1.3" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <appSettings>
    <add key="EstablishedAppKey" value="y-C4zf2MUG9EStZq5S3WPVGSkGf4kP-PMfxmeh06"/>
  </appSettings>
  <userSettings>
    <PhilipsHueController.Properties.HueBridge>
      <setting name="EstablishedAppKey" serializeAs="String">
        <value>y-C4zf2MUG9EStZq5S3WPVGSkGf4kP-PMfxmeh06</value>
      </setting>
      <setting name="EstablishedBridgeIp" serializeAs="String">
        <value>192.168.1.189</value>
      </setting>
    </PhilipsHueController.Properties.HueBridge>
    <PhilipsHueController.Properties.Settings>
      <setting name="Matt" serializeAs="String">
        <value>Paradis</value>
      </setting>
    </PhilipsHueController.Properties.Settings>
    <PhilipsHueController.HueBridge>
      <setting name="EstablishedAppKey" serializeAs="String">
        <value>y-C4zf2MUG9EStZq5S3WPVGSkGf4kP-PMfxmeh06</value>
      </setting>
      <setting name="EstablishedBridgeIp" serializeAs="String">
        <value>192.168.1.187</value>
      </setting>
    </PhilipsHueController.HueBridge>
  </userSettings>
</configuration>