<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

  <appSettings>
    <!-- Weather Configuration Settings.-->
    <add key="WEATHER_CITY" value="peabody"/>
    <add key="WEATHER_COUNTRY" value="us"/>
    <add key="WEATHER_STATE" value="ma"/>
    <add key="WEATHER_UNITS" value="imperial"/>
    <add key="APIKey" value="50ba51a35f871ecff28a6cf560068f16"/>
    <!-- <add key="APIHost" value="community-open-weather-map.p.rapidapi.com"/> -->
    <add key="APIHost" value="https://api.openweathermap.org/data/2.5/weather?"/>
    <add key="TimeUpdateInterval" value="1000"/>
    <add key="WeatherUpdateInterval" value="600000"/>
    <add key="WeatherFetchLimitOnFailure" value="5"/>
    
    <!-- Hue Configuration Settings.-->
    <add key="LightStateUpdateInterval" value="1000"/>
    <add key="EstablishedHueIp" value="192.168.1.187"/>
    <add key="HueAppKey" value="y-C4zf2MUG9EStZq5S3WPVGSkGf4kP-PMfxmeh06"/>
    
    <!-- Misc Settings.-->
    <add key="InactiveReturnToClockTimeout" value="300000"/>
  </appSettings>
  
</configuration>